{% extends 'main/base.html' %}
{% load static %}

{% block title %}Добавить курс{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'main/create-course.css' %}">

    <div class="create-course-container">
        <h2>Добавить курс</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-fields">
                {{ form.as_p }}
            </div>
            <button type="submit">Создать</button>
        </form>
    </div>
{% endblock %}
